body {
  font-family: Helvetica, SimHei, "Hiragino Kaku Gothic ProN", Meiryo, 'MS PGothic', sans-serif;
}

.radio-vertical {
  display: block;
  height: 34px;
  line-height: 34px;
}

.no-bottom {
  margin-bottom: 0!important;
}