.collections-list {
  width: 100%;
  label {
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 32px;
    margin-right: 12px;
  }
  .ant-row {
    margin-bottom: 20px;
  }
}
