.main {
  width: 100%;
  min-width: 1200px;
  min-height: 100vh;
}

.content {
  margin: 0 16px;
}

.router-view {
  display: flex;
  height: 100%;
  padding: 24px 40px;
  background-color: #fff;
}

.footer {
  text-align: center;
}
