.side-bar {
  //position: fixed;
  //top: 0;
  //left: 0;
  //z-index: 99;
  //min-height: 100vh;
  overflow: hidden;
}

.logo {
  padding: 24px 0 16px 0;
  text-align: center;
  transition: all .2s ease-in-out;
  img {
    width: 120px;
  }
  &.is-hidden {
    opacity: 0;
  }
}
